{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 * - empty: The content to display if there are no rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if rows -%}
  {%
    include "varbase_components:heroslider" with {
      id: id,
      controls: true,
      indicators: true,
      items: rows[0]['#rows'] ?? []
    }
  %}
{% elseif empty -%}
  <div class="varbase-heroslider">
    {{ empty }}
  </div>
{% endif %}
